.App {
	/* max-width: 100vw; */
	overflow: hidden;
}

h1 {
	font-size: 40px;
}
header {
	text-align: center;
}

aside {
	padding: 3rem 1.5rem;
}
nav {
	padding: 1.5rem 1.5rem;
}

.icon.is-small.is-left {
	top: 50%;
	transform: translateY(-50%);
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

.flex-container input {
	width: 80%;
}
#notification-root {
	position: fixed;
	top: 10px;
	right: 10px;
	overflow: hidden;
	z-index: 9;
}
.notification {
	position: fixed;
	top: 20px;
	right: 20px;
	max-width: 250px;
	transition: 1s all;
	z-index: 9999;
}
.is-primary {
	margin: 20px 20px 20px 0px;
}

.navbar-menu.is-active {
	position: absolute;
	left: 20px;
	right: 20px;
	z-index: 9;
}

.modal-content {
	background: white;
	padding: 40px;
	border-radius: 10px;
}

input[type="radio"] {
	margin-right: 5px;
}
.chart-container {
	text-align: center;
	width: 320px;
	height: 250px;
	transform: translateX(-15%);
}

@media (min-width: 1025px) {
	.chart-container {
		width: 500px;
		height: 350px;
	}
}
