.App {
	/* text-align: center; */
	/* background: rgba(0, 0, 0, 0.8); */
	margin: 40px 80px;
}
aside,
main {
	display: inline-block;
}
aside {
	width: 20%;
}
main {
	width: 80%;
}
.icon.is-small.is-left {
	top: 50%;
	transform: translateY(-50%);
}

.flex-container {
	display: flex;
}

h1 {
	text-align: center;
	font-size: 40px;
}
.wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
